body {
	background: white;
  width:960px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Palatino', 'Times New Roman', serif
}

hr {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 0;
	clear: both;
	height: 0;
}

#menu {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

#menu.submenu {
  border-top: 0px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  margin-top:-10px;
}

#menu .label, .currentlabel {
  line-height:1.6em;
  text-align:center;
  font-variant:small-caps;
  font-size:0.9em;
  font-weight:bold;
}

#menu .label a {
  text-decoration:none;
  color:inherit;
  height:inherit;
  width:inherit;
  display:block;
}

#menu .currentlabel a {
  text-decoration:none;
  color:inherit;
  height:inherit;
  width:inherit;
  display:block;
  background-color:#e6e6fa;
}

#menu .label a:hover {
  background:#dfdfdf;
}

#header {
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
}

#header h1 {
	font-weight:normal;
  font-size:2.2em;
  margin-bottom: 5px;
}

#header h2 {
	font-weight:normal;
  font-size:1.5em;
  font-style:italic;
  margin: 0px;
}

#header img {
  float: right;
}

a {
  color: inherit;
}
a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

#footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#content #summary {
  line-height:110%;
}

#content #summarytext p {
  margin-bottom: 0.5em;
}

#faculty h4 {
  font-variant:small-caps;
  text-align: center;
  margin-bottom: 0px;
}

#faculty .onefaculty {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
  color: #191995;
}

#faculty .onefaculty img {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

#faculty hr {  
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 0;
  margin: 0px;
}

#content #keywords p {
  font-size: 0.9em;
  font-weight: bold;
  color: #191995;
  padding-left: 10px;
}

#content .label {
  font-weight:bold;
  text-align: right;
  font-variant:small-caps;
}


#supporters .supporterlogo {
  height: 118px;
  width: 192px;
  line-height: 120px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  font-variant: small-caps;
  margin: 0px;
  padding: 0px;
  float: left;
}

#supporters .supporterlogo img {
  width: 180px;
}

#supporters .supportertextouter {
  position: relative;
  height: 118px;
  text-align: left;
  font-size: 1em;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}
#supporters .supportertextinner {
  vertical-align: middle;
  display: table-cell;
  height: 118px;
  margin-top: -59px;
  font-size: 0.9em;
  padding-left: 5px;
  padding-right: 5px;
}

#supporters .supporterlogo img {
  vertical-align: middle;
}

/* =Headings
--------------------------------------------------------------------------------*/

h1
{
	font-size: 25px;
}

h2
{
	font-size: 23px;
}

h3
{
	font-size: 21px;
}

h4
{
	font-size: 19px;
}

h5
{
	font-size: 17px;
}

h6
{
	font-size: 15px;
}

/* =Spacing
--------------------------------------------------------------------------------*/

ol
{
	list-style: decimal;
}

ul
{
	list-style: square;
}

li
{
	margin-left: 30px;
}

p {
  margin-bottom: 1em;
}

dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset
{
	margin-bottom: 20px;
}

/* Mootools Kwicks
----------------------------------------------- */
#kwick-box { 
	padding: 0px;
  margin: 0px;
	overflow:hidden;
}
#kwick {
	position: relative;
}
#kwick .kwicks {
	display: block;
	background: white;
	height: 120px;
	list-style:none;
	margin:0;
	overflow:hidden;
}
#kwick li {
	float: left;
	margin:0;
	padding:0;
}
#kwick .kwick {
	display: block;
	cursor: pointer;
	overflow: hidden;
	height: inherit;
	width: 192px;
  margin: 0px;
  padding: 0px;
}
#kwick a {
  color: inherit;
}
#kwick a:hover {
  text-decoration: none;
}

#schedule {
  margin-top:15px;
  margin-bottom:15px;
}

#schedule .heading {
  font-size:1.1em;
  font-weight:bold;
  text-align:center;
  font-variant:small-caps;
}

#schedule .heading hr {
	border-color: black;
	border-style: solid;
	border-width: 1px 0 0;
	height: 0px;
  margin-bottom:15px;
}

#schedule .entries {
  font-variant:small-caps;
  font-size:0.9em;
  text-align:center;
  font-weight:bold;
}

#schedule .description {
  font-variant:normal;
  font-size:1.0em;
  text-align:left;
  font-weight:normal;
}

#schedule .entry {
  margin-top:10px;
  margin-bottom:10px;
  padding-top:10px;
  padding-bottom:10px;
  margin-left:-5px;
  border-left:5px solid black;
}

#schedule .entry.optional {
  font-weight:normal;
  border-left:0px;
  margin-left:0px;
}

#schedule .entry .description .summary {
  font-weight:bold;
  text-decoration:underline;
}

#schedule .entry.optional .description .summary {
  font-weight:normal;
  font-style:italic;
}

#schedule .entry.odd {
  background-color:#dfdfdf;
}

#schedule .entry.odd.next {
  background-color:#c0dfc8;
}
#schedule .entry.even.next {
  background-color:#c0dfc8;
}

#schedule .entry .description p {
  margin-top:5px;
  margin-bottom:0px;
  line-height:110%;
}

#schedule .entry .papers a {
  font-weight:normal;
  color:#191995;
}

#loginform .loginlabel {
  font-variant:small-caps;
  font-size:0.9em;
  font-weight:bold;
  text-align:right;
}

#loginform label {
  padding-top:5px;
  display:block;
}

#loginform input {
  margin-top:5px;
  margin-bottom:5px;
}

#loginform .loginbutton {
  margin-top:10px;
  text-align:center;
}

#loginform .button {
  font-family:inherit;
  font-variant:small-caps;
  font-weight: bold;
}

.error {
  font-weight:bold;
  color:firebrick;
  font-variant:small-caps;
}

#login .error {
  text-align: center;
}

p.warning {
  width:inherit;
  border: 2px solid red;
  padding: 5px;
  color: firebrick;
}
