{% extends "class/base.html" %}

{% block content %}
<div id="pitches">
  <div class="container_16">
    {% if form %}
    <form action="" method="post">{% csrf_token %}
    <div class="grid_2 submit">
      <input type="submit" value="SUBMIT" class="button" />
      <hr>
    </div>
    {% if form.errors %}
    <div class="grid_14">
      <p class="error">Please correct the errors below. Your votes have not
      been recorded.</p>
      <p class="error"> {{ form.non_field_errors }} </p>
    </div>
    {% endif %}
    <div class="clear"></div>
    {% endif %}
    {% for pitch in pitches %}
    {% if form %}
    <div class="vote {{ pitch.style }} grid_2">
      {% if pitch.votingform %}
        {{ pitch.votingform }}
      {% else %}
        &nbsp;
      {% endif %}
    </div>
    <div class="pitch {{ pitch.style }} grid_14">
    {% else %}
    <div class="pitch {{ pitch.style }} grid_16">
    {% endif %}
      <div class="title"> 
          <h1><a href="{% url course:pitches-view pitchid=pitch.id %}">{{ pitch.title }}</a></h1>
        </div>
      <div class="owner"> <h2>{% if theclass.classuser %}
          <a href="mailto:{{ pitch.owner.user.email }}"
             title="Email {{ pitch.owner.getname }}">
             {% endif %}{{ pitch.owner.getname }}
            {% if theclass.classuser %}</a>{% endif %}</h2> </div>
      <div class="description">{{ pitch.description|escape|linebreaks }} </div>
      {% if showVideo and pitch.youtubeID %}
        <div class="grid_16">
          <center>
          <iframe class="youtube-player"
                  type="text/html"
                  width="640"
                  height="385"
                  src="http://www.youtube.com/embed/{{ pitch.youtubeID }}"
                  frameborder="0"></iframe>
          </center>
        </div>
        <div class="clear"></div>
      {% endif %}
    </div>
    {% endfor %}
    {% if form %}
    </form>
    {% endif %}
    <div class="clear"></div>
  </div>
</div>
{% endblock %}
