{% extends "class/base.html" %}

{% block content %}
<div id="pitches">
  <div class="container_16">
    {% for pitch in pitches %}
    <div class="pitch {{ pitch.style }} grid_16">
      <div class="title"> 
        <h1>{% if pitch.selected %}<span
            style="color:green;">(Selected)</span> {% endif %}<a href="{% url course:pitches-view pitchid=pitch.id %}">{{ pitch.title }}</a></h1>
        </div>
      <div class="owner"> <h2>Proposed by: {% if theclass.classuser %}
          <a href="mailto:{{ pitch.owner.user.email }}"
             title="Email {{ pitch.owner.getname }}">
             {% endif %}{{ pitch.owner.getname }}
            {% if theclass.classuser %}</a>{% endif %}</h2> </div>
      {% if not pitch.selected %}
      <div class="description">{{ pitch.description|escape|linebreaks }} </div>
      {% endif %}
      {% if pitch.selected %}
        <div class="grid_16">
          <center>
          <iframe class="youtube-player"
                  type="text/html"
                  width="640"
                  height="385"
                  src="http://www.youtube.com/embed/{{ pitch.youtubeID }}"
                  frameborder="0"></iframe>
          </center>
        </div>
        <div class="clear"></div>
      {% endif %}
    </div>
    {% endfor %}
    <div class="clear"></div>
  </div>
</div>
{% endblock %}
